<% include ../../common/html-start.ejs %>
<% include ../../common/head-start.ejs %>
<!--可以添加自定义的样式或者脚本-->
<link rel="stylesheet" href="/js/datepicker/datepicker.css" type="text/css">
<% include ../../common/head-end.ejs %>

<body class="">
<section class="vbox">
    <!-- 头部 S -->
    <% include ../../common/header.ejs %>
    <!-- 头部 E -->
    <section>
        <section class="hbox stretch">
            <!-- 左边菜单栏 S -->
            <% include ../../common/sidebar-admin.ejs %>
            <!-- 左边菜单栏 E -->
            <!-- 页面主体 S -->
            <section id="content">
                <section class="hbox stretch">
                    <section>
                        <section class="vbox">
                            <!-- 正文内容 S -->
                            <section class="scrollable padder-lg w-f-md" id="bjax-target">
                                <a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin"><i
                                            class="icon-refresh i-lg  inline" id="refresh"></i></a>
                                <h2 class="font-thin m-b">信息管理</h2>
                                <section class="panel panel-info">
                                    <header class="panel-heading">
                                        查找通知
                                    </header>
                                    <div class="panel-body">
                                        <form action="/admin/message/msgList" class="form-inline" role="form"
                                              method="get"
                                              enctype="application/x-www-form-urlencoded">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">时间:</label>
                                                <input type="text" class="form-control datepicker-input"
                                                       data-date-format="yyyy-mm-dd" name="startTime"
                                                >
                                                <span>到</span>
                                                <input type="text" class="form-control datepicker-input"
                                                       data-date-format="yyyy-mm-dd" name="endTime"
                                                >
                                            </div>
                                            <div class="form-group" style="margin-left: 20px;">
                                                <label for="exampleInputPassword2">标题:</label>
                                                <input type="text" class="form-control " name="title"
                                                >
                                            </div>
                                            <button id="queryMsg" type="submit" class="btn btn-default btn-info"
                                                    style="margin-left: 20px;">查询
                                            </button>
                                        </form>
                                    </div>
                                </section>
                                <section class="panel panel-info">
                                    <header class="panel-heading">
                                        通知列表
                                    </header>
                                    <div class="panel-body">
                                        <form id="multi-form" action="/admin/message/del-group" method="post" enctype="application/x-www-form-urlencoded">
                                            <div class="row wrapper">
                                                <div class="col-sm-12">
                                                    <a href="/admin/message/createMsg"
                                                       class="btn btn-success">新建通知</a>
                                                    <button id="multi-delete" type="submit"
                                                            onclick="if(confirm('确定删除?')==false)return false;"
                                                       class="btn btn-danger">删除</button>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <%- table %>
                                                <!--在这放table-->
                                            </div>
                                        </form>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-4 hidden-xs">
                                                <small class="text-muted inline m-t-sm m-b-sm">
                                                    一共 <%= totalCount %> 条记录 - 共 <%= totalPages %> 页
                                                </small>
                                            </div>
                                            <div class="col-sm-2 text-center">

                                            </div>
                                            <div class="col-sm-6 text-right text-center-xs">
                                                <div id="pagination" style="margin: 0;"></div>
                                            </div>
                                        </div>
                                    </footer>
                                </section>

                            </section>
                            <!-- 正文内容 E -->
                            <!-- 页脚 S -->
                            <% include ../../common/footer.ejs %>
                            <!-- 页脚 E -->
                        </section>
                    </section>
                    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open"
                       data-target="#nav,html"></a>
                </section>
            </section>
            <!-- 页面主体 E -->
        </section>
    </section>
</section>
<% include ../../common/script-start.ejs %>
<script src="/js/bootstrap-paginator.min.js"></script>
<script>

</script>
<script src="/js/datepicker/bootstrap-datepicker.js"></script>
<div class="datepicker dropdown-menu" style="display: none; top: 4703px; left: 31px;">
    <div class="datepicker-days" style="display: block;">
        <table class=" table-condensed">
            <thead>
            <tr>
                <th class="prev">‹</th>
                <th colspan="5" class="switch">February 2013</th>
                <th class="next">›</th>
            </tr>
            <tr>
                <th class="dow">Su</th>
                <th class="dow">Mo</th>
                <th class="dow">Tu</th>
                <th class="dow">We</th>
                <th class="dow">Th</th>
                <th class="dow">Fr</th>
                <th class="dow">Sa</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="day  old">27</td>
                <td class="day  old">28</td>
                <td class="day  old">29</td>
                <td class="day  old">30</td>
                <td class="day  old">31</td>
                <td class="day ">1</td>
                <td class="day ">2</td>
            </tr>
            <tr>
                <td class="day ">3</td>
                <td class="day ">4</td>
                <td class="day ">5</td>
                <td class="day ">6</td>
                <td class="day ">7</td>
                <td class="day ">8</td>
                <td class="day ">9</td>
            </tr>
            <tr>
                <td class="day ">10</td>
                <td class="day ">11</td>
                <td class="day  active">12</td>
                <td class="day ">13</td>
                <td class="day ">14</td>
                <td class="day ">15</td>
                <td class="day ">16</td>
            </tr>
            <tr>
                <td class="day ">17</td>
                <td class="day ">18</td>
                <td class="day ">19</td>
                <td class="day ">20</td>
                <td class="day ">21</td>
                <td class="day ">22</td>
                <td class="day ">23</td>
            </tr>
            <tr>
                <td class="day ">24</td>
                <td class="day ">25</td>
                <td class="day ">26</td>
                <td class="day ">27</td>
                <td class="day ">28</td>
                <td class="day  new">1</td>
                <td class="day  new">2</td>
            </tr>
            <tr>
                <td class="day  new">3</td>
                <td class="day  new">4</td>
                <td class="day  new">5</td>
                <td class="day  new">6</td>
                <td class="day  new">7</td>
                <td class="day  new">8</td>
                <td class="day  new">9</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="datepicker-months" style="display: none;">
        <table class="table-condensed">
            <thead>
            <tr>
                <th class="prev">‹</th>
                <th colspan="5" class="switch">2013</th>
                <th class="next">›</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="7"><span class="month">Jan</span><span class="month active">Feb</span><span
                            class="month">Mar</span><span class="month">Apr</span><span
                            class="month">May</span><span class="month">Jun</span><span
                            class="month">Jul</span><span class="month">Aug</span><span
                            class="month">Sep</span><span class="month">Oct</span><span
                            class="month">Nov</span><span class="month">Dec</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="datepicker-years" style="display: none;">
        <table class="table-condensed">
            <thead>
            <tr>
                <th class="prev">‹</th>
                <th colspan="5" class="switch">2010-2019</th>
                <th class="next">›</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span
                            class="year">2011</span><span
                            class="year">2012</span><span class="year active">2013</span><span
                            class="year">2014</span><span class="year">2015</span><span
                            class="year">2016</span><span class="year">2017</span><span
                            class="year">2018</span><span class="year">2019</span><span class="year old">2020</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        <% if ( totalCount > 0) { %>
        $('#pagination').bootstrapPaginator({
            currentPage: <%= currentPage %>,
            totalPages: <%= totalPages %>,
            numberOfPages: 7,
            onPageClicked: function (e, originalEvent, type, page) {
                e.stopImmediatePropagation();
                var currentTarget = $(e.currentTarget);
                var pages = currentTarget.bootstrapPaginator("getPages");
                var current = pages.current;
                if (page != current) {
                    window.location = '/user/account/accountList?page=' + page;
                }
            }
        });
        $('#pagination').find('ul').addClass('pagination pagination-sm m-t-none m-b-none');
        <% } %>
    });
</script>

<% include ../../common/script-end.ejs %>
</body>

<% include ../../common/html-end.ejs %>
